html{
    font-family: 'Playfair Display', serif;
    background:url(img/rock.gif) ;
    background-size: cover;
}
body{
    display: flex;
    flex-direction: column;
    height: 700px;
    gap:20px;
    justify-content: center;
    align-items: center;
    align-content: center;
}
body .audios{
    display: flex;
    justify-content: center;
}
.botao{
    background-color: rgb(6, 224, 123);
    color: azure;
    font-size: 17px;
    height: 50px;
    width: 120px;
    border: none;
    border-radius: 6px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
 .botao:hover{
    background-color: rgb(7, 49, 35);
    transition: 0.5s;
    cursor: pointer;
    
}